body{
  background-color: black;
}

.container{
  display: inline-block;
  width: 600px;
  background-color: black;
  padding: 20px;
  border: red 3px solid;
  border-radius: 10px;

}

h1, h2, label{
  color: white;
}

#feedback{
  background-color: yellow;
  color: red;
  font-size: 30px;
  font-weight: bold;
}



.extra{
  float:right;
  display: inline-block;
  width: 600px;
  background-color: black;
  padding: 20px;
  border: red 3px solid;
}


#error {
  color: red;
}
